@model HealthViewModel

@{
    Layout = "_LocalLayout";

    ViewData["Title"] = "Health";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="Health" model="Model" />
    </div>
</div>
