@model IEnumerable<BannerViewModel>

@foreach (var banner in Model.OrderBy(b => b.Ordinal))
{
    if (banner != null && banner.IsActive)
    {
        <div class="">
            @Html.Raw(banner.Body)
        </div>
    }
}